/* 画面のスタイルシート */
body {
  -webkit-text-size-adjust: 100%;
}
body{
  font-family: "Noto Sans Jp","sans-serif";
  margin: 0;
  min-width: 1076px;
  font-size: 16px;
}

.color-green{
  color: #00ABAE;
}

.sub-title{
  font-size: 32px;

}
/* headerのスタイルシート */
.block-header{
  margin: 10px 0;
  padding: 0 20px 10px;
  box-shadow: 0 10px 10px -5px rgba(204, 204, 204, 0.3);
}

.block-header a {
  font-size: 40px;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;

}
/* 
mainタグのスタイルシート
 */

 .block-main{
   text-align: center;
   margin: 100px 0;
 }

 /* 
 profileのスタイルシート
  */



.item-list img{
  width: 50%;
  height: 50%;
}


.item-list{
  width: 100%;
  max-width: 348px;
  margin: 0 auto;
  
}

.item-list b{
  display: block;
  font-size: 24px;
  font-weight: normal;
  margin: 20px 0 30px;
}

.item-list p{
  font-size: 15px;
  line-height: normal;
  text-align: left;
}

.icon-list{
  list-style: none;
  width: 200px;
  padding: 0;
  display: flex;
  max-width: 347px;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
  
}

.icon-list img{
  width: 100%;
  height: 100%;
}

.item-list li{
  margin-right: 22px;
}

.item-list li:last-child{
  margin-right: 0;
}

/* worksのスタイルシート */

.box-works{
  margin: 80px 0 0;
}

.works-list{
  list-style: none;
  width: 100%;
  max-width: 1076px;
  padding: 0;
  text-align: left;
  margin: 30px auto;
  overflow: hidden;
}

.works-list li{
  display: block;
  width: 100%;
  max-width: 348px;
  float: left;
  margin-right: 15px;

}
.works-list li:last-child{
  margin-right: 0;
}

.works-list li img{
  width: 100%;
  border: 1px solid #ccc;
}

.works-list li h3{
  font-size: 24px;
  margin: 10px;

}

.works-list li span{
  font-size: 18px;
}

.works-list li .link{
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 15px;
}

.works-list li .link a{
  background-color: rgb(226,226,226);
  padding: 5px 20px;
  margin-right: 10px;
  font-size: 15px;
  text-decoration: none;
  color: black;
}
/* フッターのスタイルシート */
.block-footer{
  clear: both;
  text-align: center;
  font-size: 15px;
  margin: 50px 0 20px;
}

/* タブレット用のスタイルシート */

/* @media screen and (max-width: 767px){
  .sub-title{
    color: red;}
} */



/* スマホ用のスタイルシート */

@media screen and (max-width: 767px){
  .body{
    min-width: 100%;
  }

/* ヘッダーのスタイルシート */
.block-header{
  
  padding: 0 10px 10px;
  box-shadow: 0 8px 8px -5px rgba(204, 204, 204, 0.3);
}

.block-header a {
  font-size: 60px;
}

/* mainのスタイルシート */
.block-main{
  margin: 10px 0;
}


/* 
 profileのスタイルシート
  */

  .box-profile{
    padding: 0 10px;

  }

  .item-list img{
    width: 40%;
    height: 40%;
  }

  .item-list b{
    font-size: 45px;
  }

  .item-list p{
    font-size: 45px;
  }

  .item-list{
    min-width: 100%;
    
  }

  .icon-list{
    min-width: 100%;
    
  }

  .icon-list li{
    margin-right: 80px;
    
  }

  .icon-list img{
    width: 200%;
    height: 200%;
    text-align: center;
    
  }
  /* 
 worksのスタイルシート
  */
  .works-list{
    min-width: 100%;
  }

.works-list li{
  min-width: 100%;
}
}